<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>
        <Syslog name="Syslog" format="RFC5424" host="localhost" port="514"
		protocol="UDP" appName="demo-app" newLine="true">
            <PatternLayout pattern="%X{host} %X{endpoint} %X{request.id} %-5level %c{1.} - %msg%n" />
         </Syslog>


        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %X{host} %X{endpoint} %X{request.id} %-5level %c{1.} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.parserlabs.phr" level="debug" additivity="false">
            <AppenderRef ref="Syslog" />
            <AppenderRef ref="LogToConsole" />
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="Syslog" />
            <AppenderRef ref="LogToConsole" />
        </Logger>


        <Root level="error">
            <AppenderRef ref="Syslog" />
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>
